[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
bs4 = "*"
contractions = "*"
scikit-learn = "*"
pyarrow = "*"
gensim = "*"
lxml = "*"
html5lib = "*"
jupyter = "*"
torch = "*"
cuda-python = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
